body {
    font-family: Arial, sans-serif;
    background-color: #c7e4ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.voter-info {
    margin-bottom: 20px;
}

#voter-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

#constituency-name {
    font-size: 18px;
    color: #666;
}

.candidate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.candidate-info {
    font-size: 16px;
    color: #555;
}

button {
    padding: 10px 20px;
    background-color:#017e8e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#bec2c5;
}
